<ul class="nav nav-list">
    <li>
        <a href="/2013/01/20/client-server-concept/">Client and server concept</a>
    </li>
    <li>
        <a href="/2013/01/20/mysql-connectors/">MySQL connectors</a>
    </li>
    <li>
        <a href="/2013/01/20/mysql-program/">mysql utility</a>
    </li>
    <li>
        <a href="/2013/01/21/identifiers/">Identifiers</a>
    </li>
    <li>
        <a href="/2013/01/21/data-types/">Date types</a>
    </li>
    <li>
        <a href="/2013/01/22/databases/">Databases</a>
    </li>
    <li>
        <a href="/2013/01/23/Querying-for-data/">Querying for data</a>
    </li>
    <li>
        <a href="/2013/01/23/tables-and-indexes/">Tables and indexes</a>
    </li>
    <li>
        <a href="/2013/01/24/sql-expressions/">SQL expressions</a>
    </li>
    <li>
        <a href="/2013/01/24/updating-data/">Updating data</a>
    </li>
    <li>
        <a href="/2013/02/02/joins/">Joins</a>
    </li>
    <li>
        <a href="/2013/02/03/subqueries/">Subqueries</a>
    </li>
    <li>
        <a href="/2013/02/03/importing-exporting-data/">Importing and exporting data</a>
    </li>
    <li>
        <a href="/2013/02/03/views/">Views</a>
    </li>
    <li>
        <a href="/2013/02/05/user-variables/">User variables</a>
    </li>
    <li>
        <a href="/2013/02/05/prepared-statements/">Prepared statements</a>
    </li>
    <li>
        <a href="/2013/02/05/stored-procedures-functions/">Stored procedures and functions</a>
    </li>
    <li>
        <a href="/2013/02/06/triggers/">Triggers</a>
    </li>
    <li>
        <a href="/2013/02/06/database-metadata/">Database and metadata</a>
    </li>
    <li>
        <a href="/2013/02/06/debugging-mysql-app/">Debugging mysql app</a>
    </li>
    <li>
        <a href="/2013/02/07/basic-optimization/">Basic optimizations</a>
    </li>

</ul>